@font-face {
    font-family: 'Raleway';
    src: url('Police/Raleway-VariableFont_wght.ttf');
}

/* Body */
body{
    font-family: 'Raleway';
    margin: 0;
}

.decalesite{
    margin: 0 30px 0 30px;
}

figure {
    margin: 0;
}

p {
    margin: 0;
}

h1{
    font-weight: bold;
}

a{
    color: #000000;
    text-decoration: none;
}

h2{
    font-weight: bold;
    margin: 0;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.bullette i{
    color: #0065FC;
}



/* En tête */
header{
    width: 100%;
    height: 105px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;    
}

.menu-item{
    padding: 0 20px;
}

.TitreSite{
    margin: 0;
    height: 50px;
}

img{
    width: auto;
    height: 100%;
}

nav{
    display: flex;
    margin: 20px 0px 10px 0px;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

.menu-item a{
    border-top: 2px white solid;
    padding-right: 20px;
    padding-left: 20px;
}

.menu-item:hover a{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.menu-item-fixed a{
    color: #0065FC;
}

.menu-item-fixed:hover{
    font-weight: bold;
    
}

/* Partie recherche */
#recherche{
    display: flex;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 300px;
    overflow: auto;
    flex-direction: column;
}

.titrerecherche{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.3em;
}

.search{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}

.search-label{
    background-color: #F2F2F2;
    height: 48px;
    width: 42px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
}

.search-label i{
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
}

.search-input {
    height: 42px;
    border: 1px #F2F2F2 solid;
    font-weight: bold;
    padding-left: 10px;
    border-right: none;
    border-left: none;
}

.search-submit{
    height: 46px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 20px;
    border: none;
}

.search-icon{
    display: none;
}

.filtres{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}


.titrefiltre{
    font-weight: bold;
    font-size: 1.2em;
}

.bullette{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    align-self: center;
    margin: 0 0 0 30px;
    height: 40px;
    line-height: 40px;
}

.bulletteimage{
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
}

.bulletteimage i{
    height: 40px;
    width: 40px;
}

.bullette-name {
    padding: 0 5px;
}

.bulletteinfo{
    display: flex;
    margin: 30px 0 20px 0;
}

.bulletteimageinfo{
    border: 1px #F2F2F2 solid;
    border-radius: 50%; 
    width: 18px; 
    height: 18px;
    text-align: center;  
    color: #0065FC;
    font-size: small;
    margin-right: 10px;
}

.bullette:hover{
    border: 1px black solid;
}

.recherche p{
    margin: 30px 0 20px 0;
}

/* Hebergement et pop */

.articles{
    background-color: #F2F2F2;
    border-radius: 2%;
    height: 600px;
    display: flex;  
}

.article1{
    width: 70%;
    margin: 10px 5px 10px 1%;
    flex-direction: column;
}

.titresection1{
    width: 100%;
    padding: 30px 0 30px 30px;
    font-weight: 900;
    font-size: 1.5em;
}

.bassection1{
    width: 100%;
    margin: 30px 0 0px 50px;
    font-size: 1.2em;
    font-weight: bold;
}

.ligne1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
}

.ligne2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
}

/* Carte pour les articles */
.card{
    border-radius: 5%;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
    height: auto;
    margin-bottom: 30px;
    background-color: white;
}

.imagecard{
    height:100px;
    overflow: hidden;
    padding: 5px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.imagecard img{
    width: 100%;
    height: auto;
}

.textecard{
    text-align: left;
    padding-left: 10px;
}

.titrecard{
    font-weight: bold;
    padding: 5px 0;
    font-size: 1em;
    text-align: justify;
}

.paragraphecard{
    padding-bottom: 5px;
    font-size: 0.8em;
    text-align: justify;
}

.etoilecard{
    color: #0065FC;
    font-size: x-small;
    padding-bottom: 10px;
}

.color-grey{
   color: grey;
}


.article2{
    width: 30%;
    flex-direction: column;
    display: flex;
    position: relative;
}

.Miseenpagecolonne{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.titresection2{
    width: 80%;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    padding: 20px 0 20px 30px;
}

.titresection2 i{
    font-size: x-large;
    position: absolute;
    top: 20px;
    right: 20px;
}

.cardpop{
    border-radius: 5%;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    background-color: white;
    height: 125px;
    padding: 5px;
}

.cardpop-body{
    display: flex;
    flex-direction: row;
}

.imagecardpop{
    height:125px;
    width: auto;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.imagecardpop img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.textecardpop{
    padding: 0 10px;
    width: 100%;
    text-align: justify;
    height: 125px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraphecardpop{
    padding-bottom: 15px;
    font-size: 0.8em;
}

.etoilecard-pop{
    color: #0065FC;
    font-size: x-small;
    padding-bottom: 5px;
}

.article3{
    width: 100%;
    height: 575px;
}

.activites{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

#ancre-activites{
    font-weight: bold;
    margin: 0 0 30px 50px;
}

.espacementactivites{
    margin: 0 20px 0 20px;
}

.card-spe{
    border-radius: 5%;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
    height: 430px;
    margin-bottom: 30px;
}

.card-specol1{
    height: 250px;
    border-radius: 5%;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
    margin-bottom: 30px;
}

.imagecard-specol1{
    display: grid;
    place-items: center;
}

.imagecard-specol1 img{
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}



.card-specol2{
    height: 150px;
    border-radius: 5%;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
    margin-bottom: 30px;  
    
}
.imagecard-specol2{
    height: 100px;
    overflow: hidden;
}
.imagecard-specol2 img{
    height: auto;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}



.imagecard-spe{
    height:380px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;  
}

.imagecard-act{
    height:150px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: flex;
    justify-content: center;
}

.imagecard-act img{
    width: 100%;
    height: auto;
}

.titrecard-activite{
    font-weight: bold;
    font-size: 1em;
    padding: 15px 10px;
}

/* Footer */
footer{
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
    height: 230px;
    flex-wrap: wrap;

}

footer .col4 div{
    padding: 20px;
}

.Titre{
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 0;
}

.espacement-footer{
  margin: 0 0 0 80px;
}

.espace{
    padding-top: 15px
}

footer ul{
    list-style-type: none;
    padding: 0;
}

li:hover{
    font-weight: bold;
}

/* Syteme de colonne */
.col4{
    width: 25%;
}

.col6
{
    width: 50%;
}

.col5{
    width: 40%;
}

.col12
{
    width: 10%;
}

.col3{
    width: 25%;
}

.col2{
    width: 20%;
}

.col8{
    width: 70%;
}

@media (min-width: 1100px) and (max-width: 1350px){
    .col8{
        width: 60%;
    }

    .article2{
        width: 35%;
    }

    footer{
        height: auto;
    }

}
@media (min-width: 769px) and (max-width: 1099px){
    .col8{
        width: 100%;
    }

    .article2{
        width: 100%;
    }

    footer{
        height: auto;
    }

    #recherche{
        height: auto;
    }

}

/* @media = s'il se passe ça : https://www.alsacreations.com/article/lire/930-css3-media-queries.html */
@media (max-width: 768px) {
    .col4{
        width: 100%;
    }
  .col5{
      width: 100%;
  }
  .col6{
      width: 100%;
  }
  .col2{
      width: 100%;
  }
  .col3{
      width: 100%;
  }
  .col8{
      width: 100%;
  }

  header{
      height: 300px;
  }

  body{
    margin: 0;
}

p{
    text-align: justify;
}




  #Inscription{
      order: -1;
  }
  .TitreSite{
      order: -2;
  }

  header{
      height: auto;
      position: relative;
  }

  .menu{
      width: 100%;
      justify-content: space-around;
  }

  .menu-item-fixed{
      position: absolute;
      top: 20px;
      right: 0;
  }

  .menu-item{
      padding: 0;
  }

  .menu-item a{
    padding: 0;
}

  nav{
      height: auto;
      box-shadow: 0px 3px 0px rgba(0,0,0, 0.1);
  }

  .menu-item:hover a{
      border-bottom: 2px rgba(0, 110, 255, 0.829) solid;
      border-top: none;
      color: rgba(0, 110, 255, 0.829);
  }

  .menu-item-fixed:hover a{
      border-top: none;
      border-bottom: none;
      color: black;
  }

  #recherche{
      height: auto;
  }

.search{
    width: 100%;
    display: flex;
    align-items: center;
}

  .search-submit{
    height: 48px;
    width: auto;
  }

  .search-button{
      display: none;
  }

  .search-icon{
      display: flex;
  }

  .search-icon i{
      height: 48px;
      line-height: 48px;
  }

  .titrefiltre{
      width: 100%;
    }

  .bullette{
      margin: 0;
  }

  .articles{
      height: auto;
      width: 100%;
  }

  .article1{
      background-color: white;
      margin: 0;
  }

  .titresection1{
      padding: 20px 0 20px 10px;
      font-size: 1.3em;
  }
  
  .ligne1{
      margin: 0;
  }

  .ligne2{
      margin: 0;
  }

  .bassection1{
      padding-top: 10px;
      margin: 0;
  }
  

  .article3{
      height: auto;
  }

  .activites{
      display: flex;
      flex-direction: column;
      align-content: center;
  }

  #ancre-activites{
      margin: 0 0 30px 20px;
      font-size: 1.3em;
  }

  .Titre{
      font-size: 1em;
  }

  .card-spe{
    border-radius: 5%;
    height: auto;
    margin-bottom: 30px;
    background-color: white;
}

.imagecard-spe{
    height:100px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.imagecard-spe img{
    width: 100%;
    height: auto;
}

.card-specol1{
    border-radius: 5%;
    height: auto;
    margin-bottom: 30px;
    background-color: white;
}

.imagecard-specol1{
    height:100px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.imagecard-specol1 img{
    width: 100%;
    height: auto;
}

.card{
    border-radius: 5%;
    height: auto;
    margin-bottom: 30px;
    background-color: white;
}

.imagecard{
    height:100px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.imagecard img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card-specol2{
    border-radius: 5%;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
    height: auto;
    margin-bottom: 30px;
    background-color: white;
}

.imagecard-specol2{
    height:100px;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.imagecard-specol2 img{
    width: 100%;
    height: auto;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
}

.imagecard-act{
    height:100px;
    overflow: hidden;
    place-items: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.imagecard-act img{
    width: 100%;
    height: auto;
}

  footer{
      height: auto;
  }

  .espacement-footer{
      margin: 0 0 0 30px;
  }  

  .espace{
      padding-top: 5px;
  }
  footer div{
      padding: 0;
  }
}