@font-face{
    font-family: 'Raleway';
    src: url('Police/Raleway-VariableFont_wght.ttf');
}

#site{
    font-family: 'Raleway';
}

header{
    width: 100%;
    height: 105px;
    overflow: auto;
    display: flex;
}

#Titresite{
    width: 50%;
    margin: 0px 0px 10px 1%;
    position: relative;
}

img{
    width: auto;
    height: 100%;
}

alt{
    font-family: 'Raleway';
}

nav{
    display: flex;
    margin: 20px 0px 10px 0px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    width: 50%;
}

.Menu{
    margin-left: 3%;
    margin-right: 3%;
}

.Menu:hover a{
    color: #80b2fe;
    border-top: 2px rgba(0, 110, 255, 0.829) solid;
}


#Inscription{
    margin-left: 3%;
    margin-right: 3%;
}

#Inscription a{
    color: #80b2fe;
}

#Inscription:hover a{
    font-weight: bold;
    color:rgba(0, 110, 255, 0.829)
}

#recherche{
    display: flex;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 300px;
    overflow: auto;
    flex-direction: column;
}

.Filtres{
    display: flex;
    flex: row;
}



footer{
    background-color: #f2f2f2;
}

.Articles{
    background-color: #f2f2f2;
    height: 670px;
    display: flex;
}

.Article1{
    width: 70%;
    margin: 10px 5px 10px 1%;
}

.Article2{
    width: 30%;
    margin: 10px 1% 10px 5px;
}

div{
    display: flex;
    flex-direction: row;
}
a{
    color: #000000;
    text-decoration: none;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
}

.Contour {
    font-weight: bold;
    border: 1px grey solid;
    border-radius: 20%;
}

li:hover{
    font-weight: bold;
}

